<h2>Edit</h2>

<%= simple_form_for(@user, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <p>Genre :</p>
    <%= f.collection_radio_buttons :genre, [[0, 'Homme'], [1, 'Femme']], :first, :last %>
    <%= f.input :nom, required: true, autofocus: true %>
    <%= f.input :prenom, required: true, autofocus: true %>
    <%= f.input :date_naissance, as: :date, required: true, html5: true %>
    <%= f.input :adresse, required: true, autofocus: true %>
    <%= f.input :code_postal, required: true, autofocus: true %>
    <%= f.input :ville, required: true, autofocus: true %>
    <%= f.input :telephone, required: true, autofocus: true %>
    <%= f.input :url_avatar, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to "Retour", admin_users_path %>
